@font-face {
  font-family: "Yekan";
  src: url("fonts/Yekan.ttf");
}

body {
  font-family: "Yekan", "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 30vh;
  align-items: center;

  margin: 0xp;
  padding: 70px 0px;

  /* border: 3px solid; */

  background-color: #003049;

  height: 80vh;
}

#search-div {
  text-align: center;
  width: 50%;

  /* border: 3px solid; */
}

#search-input {
  text-align: center;

  width: 80%;
  box-sizing: border-box;

  font-size: 30px;
  font-family: "Yekan", "Inter", sans-serif;
  color: rgb(3, 28, 62);

  padding: 7px 20px;
  border-radius: 30px;
  border: 3px solid #bfbfbf;
  transition: border 0.5s ease, box-shadow 0.5s ease;
}

#search-input:hover {
  border: 3px solid #73c9ff;
  transition: border 0.5s ease;
}

#search-input:focus {
  box-shadow: 0px 0px 50px #b4e2ff;
  transition: box-shadow 0.5s ease;

  border: 3px solid transparent;
}

#search-input:not(:placeholder-shown) {
  box-shadow: 0px 0px 50px #b4e2ff;
  border: 3px solid #73c9ff;
}

#result-div {
  /* background-color: aquamarine; */
  padding: 30px 10px;
  color: aliceblue;

  width: 80vw;

  /* border: 3px solid; */
}

#result-list {
  /* border: 3px solid; */
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  box-sizing: border-box;
}

.result-item {
  /* width: fit-content; */
  width: 180px;

  /* background-color: #00417087; */

  padding: 10px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  transition: transform 0.5s;
}

.poster-el {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.result-item:has(.poster-el:hover) {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.rating-div {
  display: flex; /* row layout */
  justify-content: center; /* center the children together */
  align-items: center; /* vertically center text & images */
  gap: 30px; /* space between star and imdb */
  margin-top: 5px; /* optional spacing from series name */
}

.star-el span {
  padding: 5px 0px 0px 0px;
}

.imdb-el span {
  padding: 5px 0px 0px 0px;
}

.star-el,
.imdb-el {
  display: inline-flex; /* align image and number horizontally */
  align-items: center; /* vertically center image + number */
  gap: 5px; /* small space between image and number */
}

.star-fav {
  width: 20px; /* fixed size, better than % for small icons */
  height: auto;
}

.imdb-fav {
  width: 28px; /* fixed size, better than % for small icons */
  height: auto;
}
